<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sistema Experto para el Diagnóstico de Enfermedades <Ri:a></Ri:a>espiratorias</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{{body}}}
    <script src="js/main.js"></script>
</body>
</html>
