* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #8A2BE2;
  text-align: center;
  margin-bottom: 1rem;
}


p {
  color: #4B0082; 
  line-height: 1.6;
}


body {
  background-color: #E0FFFF; 
}


.fixed-container {
  position: absolute;
  background-color: white;
  border: #BA55D3 1px solid; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 36rem;
  width: 48rem;
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden;
}

@media(min-width: 480px) {
  .fixed-container {
    width: 36rem;
  }
}


.question-container {
  padding: 2rem 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.question-container--on-standby {
  transform: translateY(200%);
  visibility: hidden;
}

.question-container--slide-in {
  transform: translateY(0);
  visibility: visible;
  transition: transform .6s cubic-bezier(0.4, 0.0, 1, 1),
              visibility 0s cubic-bezier(0.4, 0.0, 1, 1);
}

.question-container--slide-out {
  transform: translateY(-200%);
  visibility: hidden;
  transition: transform .8s cubic-bezier(0.0, 0.0, 0.2, 1),
              visibility .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

}
.submit {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #9370DB; 
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color linear .2s;
}

.submit:hover {
  background-color: #8A2BE2; 
}


input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #BA55D3; 
  border-radius: 5px; 
}

input:focus { 
  outline: none; 
  border-bottom: 1px solid #8A2BE2;
}

::placeholder { /
  color: #9370DB; 
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { 
  color: #9370DB;
}

::-ms-input-placeholder { 
  color: #9370DB;
}


.try-agn-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #FFB6C1; 
  color: white;
  font-size: 1rem;
  border-radius: 20px; 
  cursor: pointer;
  transition: background-color linear .2s;
}

.try-agn-btn:hover {
  background-color: #FF69B4;
}


.results-container {
  color: #4B0082; 
  background-color: #E6E6FA; 
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.results-container h2 {
  color: #8A2BE2; 
  font-size: 1.6rem;
}

.results-container p {
  color: #4B0082;
  font-size: 1.2rem;
}
